<% if (!index && page.source != 'about/index.md'){ %>
  <div class="article-statement">
    <hr>  
    1.如果本文帮到了您，不妨点一下右下角的 <a>分享到</a> 按钮。<br>
    2.除非注明，本博文章均为原创，转载请以链接形式标明本文地址。<br>
    3.如果你有任何疑问，欢迎发送邮件到我的邮箱<a href="mailto:andyliwr@outlook.com">andyliwr@outlook.com<br>
  </div>
<% } %>